body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.amenities{
  width:680px;
  height:736px;
  border-left:1px solid rgb(242, 242, 242);
  border-right:1px solid rgb(242, 242, 242);
  border-bottom: 2px solid rgb(68, 178, 36);

}